.Main {
    padding: 40px;
    display: flex;
}

.filter-bar-paper {
    padding: 40px;
    padding-top: 20px;
    margin-right: 25px;
    width: 250px;
}

.todos-paper {
    width: 55%;
    padding: 40px;
    padding-top: 20;
}
